aiogram
sqlalchemy
pydantic-settings
httpx
alembic
{% if cookiecutter.db_type == "sqlite" %}
aiosqlite
{% else %}
asyncpg
{% endif %}

{% if cookiecutter.payment_services == "Yookassa" %}
yookassa
{% endif %}